body{
    margin-top:20px;
    
    
}
.at-social-media{
    width:330px;
    margin:auto;
    
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width:100%;
      height:345px;
    
  }
img.asiatravel-logo{
    margin-right: 39px;
}
i.social-icons{
    font-size:25px;
    padding:10px 15px;
    background-repeat:no-repeat;
    background-image:url(../images/social-icon-bg.png);
    color:white;
    
    margin:0px;
    
}
i.lg{
    font-size:20px;
}
.navbar{
    margin-top:5px;
    background-color:#0a85c1;
    border: 0px;
    border-radius:0px;
    margin-bottom:0px;
}
ul.navbar-nav li a:link{
    color:white;
    font-size: 17px;
}
ul.navbar-nav li a:visited {
    color:white;
    font-size: 17px;
}
ul.navbar-nav li a:hover {
    color:white !important;
  
}
ul.navbar-nav li:hover{
   background-color:#0d71a1; 
   
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:white;
}
.navbar-default .navbar-toggle:hover {
    background-color:#076b9c;
}
.text-white{
    color:white; 
    
}

.at-quicksearch{
   
       
}

.first-col{
    width:166px;
    float:left;
    
}
.second-col{
    float:left;
    padding:20px 10px 10px 20px;
    width:464px;
}

.nav-pills > li > a {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
margin-bottom:-2px;
height:52px;

}

i.sizebig{
    font-size: 30px;
    float:left;
     
}
i.home{
    font-size:25px;
}
.glyphicon{
    font-size:30px;
    float:left;
}


.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}
ul.flight-menu li {
    display:inline;
    border-radius: 3px;
    border: 1px solid #a1a1a1;
}


.btn-style{
    width: 100%;border:0px;padding:7px;border-radius:3px;
    
}

.btn-group button{
    background-color: #f5f5f5;
}



p.htl-room{
    margin:0px;
    padding:0px;
    
}
.at-quick-search-pos{
    position:absolute;
    top:27px; 
    right:41px;
}
.at-quick-search{
    position:relative;
    background-color:white;
    padding:0 20px 20px 0px;
    border: 1px solid #f1f1f1;
    z-index:9999;
    
}
.option-size{
    font-size: 14px;
    font-weight:bold;
    color: #666;
    margin-top:0px;
}
.hidden-space{
    visibility:hidden;
    
}


.spacing{
    margin:20px;
}
.kabayan-stop-over h1{
    color:#555;
    font-size: 30px;
    padding-right:20px;
    padding-top:5px;
    
}

.kabayan-bg{
    background-image: url('../images/bg-place.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    color:white;
    padding-left:10px;
    min-height: 48px;

}
p.rate-from{
    padding:0px;
  margin:0px;  
}
h4.rate-from-price{
  color:red;
  margin:0px;  
  font-weight:bold;
}
h4.country{
   
    font-weight:bold;
    padding: 3px 0px 3px 15px;
    text-align:left;
}
h4.country2{
   
    font-weight:bold;
    margin:0px;
    padding:5px 0 0px 15px;
    text-align:left;
}
p.inclusions{
    margin:2px;
    margin-left:0px;
    
}
h4.inclusions{
    color:red;
}
.text-green{
    color:green;
}
.kabayan-bg-orange{
    background-color:orange;
    color:white;
}
.kabayan-bg-orange h2{
    margin:0px;
    margin-top: 10px;
    text-align:center;
    background-color: black;
    font-size:25px;
    padding: 5px 3px 5px 3px;
}
.kabayan-bg-orange p{
    margin-top:5px;
}
p.kabayan-stop-over-package-price{
    background-color: #2e3192;
    font-weight: bold;
    font-size:17px;
    padding: 5px 25px 5px 25px;
    margin:0px;
    text-align:center;
}
.text-bold{
    font-weight:bold;
    font-size:15px;
}
.kabayan-stop-over-package-per-person{
    background-color:black;
    padding:5px 15px 5px 15px;
  
}
.space-top{
    margin:20px;
}

.at-location h4{
    color:#6495ed;
    margin:4px;
}
.at-subscribe h4{
    color: red;
}
.at-subscribe-bg{
    background-color:#f1f1f1;
    padding-top: 20px;
    padding-bottom:20px;
}
footer p{
    font-size: 17px;
}